<form method="POST" action="/create">
  <label
    >Name: <input type="text" name="name" placeholder="Character's name"
  /></label>
  <label
    >Occupation:
    <input type="text" name="occupation" placeholder="Character's occupation"
  /></label>
  <label
    >Weapon: <input type="text" name="weapon" placeholder="Character's weapon"
  /></label>
  <label
    >Debt: <input type="text" name="debt" placeholder="true or false"
  /></label>
  <button type="submit">Create</button>
</form>
